# ignore testing and distribution files
dist/
src/vizkarmhutch.egg-info/
tests/
mvt_env/
test_env/
update.sh

# ignore data file used for examples (it's too big)
examples/Traffic_Violations.csv

# ignore IntelliJ files
.idea

# ignore MacOS files
*.DS_Store

